<a href="https://colab.research.google.com/github/vindhyathallu/MLPROJECTS/blob/main/Apriori_Association_Rule_Learning_Working_Copy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Apriori

The Apriori algorithm is a widely used technique in association rule learning. It efficiently discovers frequent itemsets, which are collections of items that appear together frequently in a dataset. Association rules are derived from the frequent itemsets, providing insights into item relationships. The Apriori algorithm has been valuable in areas like retail, customer behavior analysis, and recommendation systems.

**Big Basket Cart Prediction**

we are applying the apriori algorithm to find the items that are frequently bought together.

*Here are the steps we will follow:*

-->First before implementing we want dataset of Big Basket Cart Transactions.so we will get the dataset from kaggle.

-->we will import the python library apyori,numpy,pandas,matplot.

-->we will impotr the data and give apriori training on the dataset.

-->Next,we will display the result according to our preferences of lift values.

## Importing libraries

we will install the Apyori.

Apyori is a Python library that implements the Apriori algorithm for association rule learning. It provides a simple and convenient way to mine frequent itemsets and generate association rules from transactional datasets.

In [ ]:
!pip install apyori

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: apyori in /usr/local/lib/python3.10/dist-packages (1.1.2)

-->Importing numpy for multidimensional array operations for this project.

-->Importing Matplotlib,seamlessly integrates with other data-related libraries such as NumPy and pandas. It can directly plot data stored in NumPy arrays or pandas DataFrames, allowing for convenient data visualization and exploration.

-->importing pandas for dataframes for this project.

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Importing dataset

In [ ]:
dataset = pd.read_csv('big_basket.csv', header = None)
transactions = []

for i in range(0, 7219):
  transactions.append([str(dataset.values[i,j]) for j in range(0, 20)])

## Apriori Training on Dataset

By calling the apriori() function with the specified parameters, the Apyori library will apply the Apriori algorithm on the given transactions and return a set of association rules that satisfy the specified thresholds. These rules will represent interesting relationships between items based on their support, confidence, and lift values.

In [ ]:
from apyori import apriori
rules = apriori(transactions = transactions, min_support = 0.006, min_confidence = 0.2, min_lift = 3, min_length = 2, max_length = 2)

## Visualizing

### Raw Results

In [ ]:
results = list(rules)

In [ ]:
results

[RelationRecord(items=frozenset({'paneer', 'buns'}), support=0.016068707577226764, ordered_statistics=[OrderedStatistic(items_base=frozenset({'buns'}), items_add=frozenset({'paneer'}), confidence=0.32402234636871513, lift=3.2852771326344867)]),
 RelationRecord(items=frozenset({'olive oil', 'whole wheat pasta'}), support=0.007757307106247403, ordered_statistics=[OrderedStatistic(items_base=frozenset({'whole wheat pasta'}), items_add=frozenset({'olive oil'}), confidence=0.26666666666666666, lift=4.061322081575246)])]

In [ ]:
print(results)

[RelationRecord(items=frozenset({'paneer', 'buns'}), support=0.016068707577226764, ordered_statistics=[OrderedStatistic(items_base=frozenset({'buns'}), items_add=frozenset({'paneer'}), confidence=0.32402234636871513, lift=3.2852771326344867)]), RelationRecord(items=frozenset({'olive oil', 'whole wheat pasta'}), support=0.007757307106247403, ordered_statistics=[OrderedStatistic(items_base=frozenset({'whole wheat pasta'}), items_add=frozenset({'olive oil'}), confidence=0.26666666666666666, lift=4.061322081575246)])]

### Proper Display

In [ ]:
def inspect(results):
    product1         = [tuple(result[2][0][0])[0] for result in results]
    product2         = [tuple(result[2][0][1])[0] for result in results]
    supports    = [result[1] for result in results]
    confidences = [result[2][0][2] for result in results]
    lifts       = [result[2][0][3] for result in results]
    return list(zip(product1, product2, supports, confidences, lifts))
DataFrame_intelligence = pd.DataFrame(inspect(results), columns = ['product1', 'product1', 'Support', 'Confidence', 'Lift'])

In [ ]:
DataFrame_intelligence

            product1          product1   Support  Confidence      Lift
0            almonds           burgers  0.005402    0.265306  3.059497
1               buns            paneer  0.016069    0.324022  3.285277
2       fruit basket  vegetable basket  0.005541    0.294118  3.081619
3       kissan puree            paneer  0.005402    0.378641  3.839056
4              pasta          mushroom  0.005402    0.386139  4.873312
5       pepper spray          mushroom  0.005818    0.302158  3.813428
6  whole wheat pasta         olive oil  0.007757    0.266667  4.061322

**Displaying the results sorted by descending order of Lift column**

In [ ]:
DataFrame_intelligence.nlargest(n = 10, columns = 'Lift')

            product1          product1   Support  Confidence      Lift
4              pasta          mushroom  0.005402    0.386139  4.873312
6  whole wheat pasta         olive oil  0.007757    0.266667  4.061322
3       kissan puree            paneer  0.005402    0.378641  3.839056
5       pepper spray          mushroom  0.005818    0.302158  3.813428
1               buns            paneer  0.016069    0.324022  3.285277
2       fruit basket  vegetable basket  0.005541    0.294118  3.081619
0            almonds           burgers  0.005402    0.265306  3.059497

**Conclusion**
This project looked at the general intuition behind the apriori algorithm and showed how we could implement this algorithm in python using a transactional dataset.